<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../templates/meta')%>
    <link rel="stylesheet" href="/css/admin.css">
</head>

<body>
    <div class="admin-page">
        <%- body %>
    </div>
</body>

</html>