<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../templates/meta')%>
    <link rel="stylesheet" href="/css/homepage.css">
</head>

<body>
    <div id="templatemo_top_wrapper">
        <div id="templatemo_top">

            <div id="templatemo_menu">

                <ul>
                    <li><a href="index.html" class="current">Home</a></li>
                    <li><a href="portfolio.html">Portfolio</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                </ul>

            </div> <!-- end of templatemo_menu -->

            <div id="twitter">
                <a href="#">Follow me</a>
            </div>

        </div>
    </div>

    <div id="templatemo_header_wrapper">
        <div id="templatemo_header">

            <div id="site_title">
                <h1><a href="http://www.templatemo.com" target="_parent"><strong>Wainni Blog</strong><span>Knowledge is a great asset</span></a></h1>
            </div>

        </div>
    </div>

    <section class="main-wraper">
        <%- body %>
    </section>

    <div id="templatemo_footer">

        Copyright © 2048 <a href="index.html">Your Company Name</a> |
        <a href="http://www.iwebsitetemplate.com" target="_parent">Website Templates</a> by <a
            href="http://www.templatemo.com" target="_parent">Free CSS Templates</a>

    </div>
    <%- include('../../templates/block_script')%>
        <!-- Main JS File -->
    <script src="/js/main.js"></script>
</body>

</html>