<% if (aboutAuthor) { %>
<%
    let name = aboutAuthor?.name || "";
    let description = aboutAuthor?.description || ""; 
%>
<div class="about-author d-flex p-4 bg-light">
    <div class="desc">
        <h3><%= name %></h3>
        <p><%= description %></p>
    </div>
</div>
<%}%>