<div class="archives sidebar-box ftco-animate">
    <h3 class="sidebar-heading">Archives</h3>
    <ul class="categories">
        <li><a href="#">January 2023 <span>(10)</span></a></li>
        <li><a href="#">February 2023 <span>(6)</span></a></li>
        <li><a href="#">March 2023 <span>(8)</span></a></li>
        <li><a href="#">April 2023 <span>(2)</span></a></li>
        <li><a href="#">May 2023 <span>(5)</span></a></li>
        <li><a href="#">June 2023 <span>(7)</span></a></li>
        <li><a href="#">July 2023 <span>(7)</span></a></li>
        <li><a href="#">August 2023 <span>(7)</span></a></li>
        <li><a href="#">September 2023 <span>(7)</span></a></li>
        <li><a href="#">October 2023 <span>(7)</span></a></li>
        <li><a href="#">November 2023 <span>(7)</span></a></li>
        <li><a href="#">December 2023 <span>(7)</span></a></li>
    </ul>
</div>