<% if (categories) { %>
<div class="category sidebar-box ftco-animate">
    <h3 class="sidebar-heading">Categories</h3>
    <ul class="categories">
        <% categories.forEach((item, index) => { %>
        <li><a href="/tag/<%= item.name %>"><%= item.name %> <span>(<%= item.quantity%>)</span></a></li>
        <% }) %>
    </ul>
</div>
<% } %>