<% if (categories && categories.length) { %>
<div class="category sidebar-box ftco-animate">
    <h3 class="sidebar-heading">Topic Hot</h3>
    <ul class="categories">
        <% categories.forEach((item, index) => { %>
        <li><a href="/topic/<%= item %>"><%= item %> </a></li>
        <% }) %>
    </ul>
</div>
<% } %>