<div class="featured-article">
    <div class="featured-article__content row">
        <div class="col col-6 featured-article__image">
            <img src="<%= process.env.IMAGE_PREFIX %>/default-post-1.png" alt="">
        </div>
        <div class="col col-6 featured-article__detail">
            <h4>Sitecore La gi?</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam hic molestias dolorem veniam modi facere tem</p>
            <button class="btn btn-primary">View more</button>
        </div>
    </div>
</div>