<%
    let title = newsletter?.title || "";
    let description = newsletter?.description || "";
%>
<div class="newsletter sidebar-box subs-wrap img py-4" style="background-image: url(<%=process.env.IMAGE_PREFIX%>/bg_1.jpg);">
    <div class="overlay"></div>
    <h3 class="mb-4 sidebar-heading"><%= title %></h3>
    <p class="mb-4">
        <%= description %>
    </p>
    <form action="#" class="subscribe-form">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Email Address">
            <input type="submit" value="Subscribe" class="mt-2 btn btn-white submit">
        </div>
    </form>
</div>