<div class=" popular-article sidebar-box ftco-animate">
    <h3 class="sidebar-heading">Popular Articles</h3>
    <div class="block-21 mb-4 d-flex">
        <a class="blog-img mr-4" style="background-image: url(https://topdev.vn/blog/wp-content/uploads/2021/01/ky-nang-lap-trinh.jpg);"></a>
        <div class="text">
            <h3 class="heading"><a href="https://topdev.vn/blog/lap-trinh-vien-gioi/">Để trở thành một lập trình viên giỏi hơn mỗi ngày!</a></h3>
            <div class="meta">
                <div><a href="#"><span class="icon-calendar"></span> June 06, 2023</a></div>
                <div><a href="#"><span class="icon-person"></span> Randall Kanna</a></div>
                <div><a href="#"><span class="icon-chat"></span> 06</a></div>
            </div>
        </div>
    </div>
</div>