<% if (related) { %>
<div class="section related-post">
    <h3>Related Post</h3>
    <ul>
        <% related.forEach((item, index) => { %>
            <li>
                <a href=""><%= item.title %></a>
            </li>
        <% }) %>
    </ul>
</div>
<% } %>