<% if (allPost) { %>
<div class="statistical">
    <h3 class="sidebar-heading">Statistical</h3>
    <ul>
        <li>
            <span>Số lượng bài viết</span>
            <strong><%= allPost %></strong>
        </li>
        <li>
            <span>Số lượng xem</span>
            <strong><%=  Math.floor(Math.random() * 901) + 100 %></strong>
        </li>
    </ul>
</div>
<% } %>