<% if (allPost) { %>
<div class="statistical">
    <h3 class="sidebar-heading">Statistical</h3>
    <ul>
        <li>
            <span>Số lượng bài viết</span>
            <span><%= allPost %></span>
        </li>
        <li>
            <span>Số lượng xem</span>
            <span><%=  Math.floor(Math.random() * 901) + 100 %></span>
        </li>
    </ul>
</div>
<% } %>