<% if (tags) { %>
<div class="tag-cloud sidebar-box ftco-animate">
    <h3 class="sidebar-heading">Tag Cloud</h3>
    <ul class="tagcloud">
        <% tags.forEach((item, index) => { %>
            <% let isCount = item.count == 0 ? 'disabled' : ''; %>
            <a href="/tag/<%= item.name %>" class="tag-cloud-link <%= isCount %>">#<%= item.name%> <span>(<%= item.quantity %>)</span></a>
        <% }) %>
    </ul>
</div>
<% } %>