<div class="blog-table">
    <div class="card shadow border-0 mb-7">
        <div class="card-header">
            <h5 class="mb-0">View Result</h5>
        </div>
    </div>
    <div class="card shadow border-0 mb-7">
        <div class="card-header">
            <h5 class="mb-0">Highlight Code</h5>
        </div>
    </div>
    <div class="card shadow border-0 mb-7">
        <div class="card-header">
            <h5 class="mb-0">Edit Value</h5>
        </div>
    </div>
</div>