@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?8kheuo');
  src:  url('../fonts/icomoon.eot?8kheuo#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?8kheuo') format('truetype'),
    url('../fonts/icomoon.woff?8kheuo') format('woff'),
    url('../fonts/icomoon.svg?8kheuo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chat:before {
  content: "\e0b7";
}
.icon-folder_open:before {
  content: "\e2c8";
}
.icon-keyboard_arrow_left:before {
  content: "\e314";
}
.icon-keyboard_arrow_right:before {
  content: "\e315";
}
.icon-search:before {
  content: "\f002";
}
.icon-eye:before {
  content: "\f06e";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-heart-o:before {
  content: "\f08a";
}
.icon-comment-o:before {
  content: "\f0e5";
}
.icon-comments-o:before {
  content: "\f0e6";
}
.icon-paper-plane-o:before {
  content: "\f1d9";
}
.icon-user-o:before {
  content: "\f2c0";
}
