#wainiidev-main .detail-post {
  font-family: "Lora", Arial, serif !important;
}
#wainiidev-main .detail-post__content {
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 30px;
}
#wainiidev-main .detail-post .breadcrumb {
  display: flex;
  align-items: center;
}
#wainiidev-main .main-post .logo-mobile {
  font-size: 45px;
  font-weight: bold;
  display: none;
}
#wainiidev-main .main-post .logo-mobile a {
  display: inline-block;
  text-align: left;
  color: #000000;
  overflow: hidden;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
@media (max-width: 576px) {
  #wainiidev-main .main-post .logo-mobile {
    display: flex;
    justify-content: center;
  }
}
#wainiidev-main h1.title-main {
  margin-bottom: 50px;
  color: #DD58D6;
  display: block;
}
#wainiidev-main h1.title-main span {
  display: inline-block;
}
#wainiidev-main h1.title-main img {
  width: 60px;
  margin-right: 20px;
}
@media (max-width: 576px) {
  #wainiidev-main h1.title-main {
    display: flex;
    justify-content: center;
  }
}
#wainiidev-main .page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#wainiidev-main .page_404 img {
  width: 100%;
}
#wainiidev-main .page_404 .four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}
#wainiidev-main .page_404 .four_zero_four_bg h1 {
  font-size: 80px;
}
#wainiidev-main .page_404 .four_zero_four_bg h3 {
  font-size: 80px;
}
#wainiidev-main .page_404 .link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}
#wainiidev-main .page_404 .contant_box_404 {
  margin-top: -50px;
}
#wainiidev-main .statistical ul {
  margin-left: 10px;
  padding: 0;
}
#wainiidev-main .statistical ul li {
  display: flex;
  justify-content: space-between;
}
#wainiidev-main .contact-info .into p {
  word-wrap: break-word;
}
#wainiidev-main .d-none {
  display: none !important;
}
#wainiidev-main .sidebar {
  padding-right: 30px;
}
@media (max-width: 576px) {
  #wainiidev-main .sidebar {
    padding-right: 15px;
  }
}
#wainiidev-main .no-result {
  padding: 20px;
}
#wainiidev-main .pagination-detail {
  margin-left: 20px;
  display: flex;
  margin-top: 5px;
}
#wainiidev-main .pagination-detail strong {
  margin: 0 5px;
}

.components.demo {
  pointer-events: none;
  visibility: visible;
}
.components.demo.ftco-animate, .components.demo .ftco-animate {
  display: block !important;
}
.components .cv {
  margin-top: 20px;
}
.components .cv a {
  padding: 8px 15px;
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid #1eafed;
  color: #1eafed;
  font-size: 12px;
  box-shadow: 0 0 5px #1eafed;
  margin-right: 15px;
  transition: 0.3s;
}
.components .cv a:hover {
  font-weight: bold;
  box-shadow: 0 0 15px #1eafed;
}

/*# sourceMappingURL=main.css.map */
