* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

.navbar-brand {
    display: block;
    margin: 0 auto;

    img {
        height: auto !important;
    }
}

.page-add-post {
    width: 100%;

    .btn-file {
        position: relative;
        overflow: hidden;
    }

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

    input[readonly] {
        background-color: white !important;
        cursor: text !important;
    }
}

.blog-table {
    .block-action {
        display: flex;
    }

    table .long-col {
        width: auto;
        min-width: 150px;
        max-width: 300px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .status {
        text-transform: capitalize;

        span {
            display: inline-block;
            width: 0.75rem;
            height: 0.75rem;
            border-radius: 50%;
            margin-right: 5px;

            &.online {
                background-color: chartreuse;
            }

            &.offline {
                background-color: red;
            }
        }
    }

    .card-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.pagination {
    display: inline-block;

    & a {
        color: #000000;
        float: left;
        padding: 5px 12px;
        text-decoration: none;
        transition: background-color .5s;
        border: 1px solid #DDD;
        margin: 0 4px;
        font-size: 14px;
    }

    & a.active {
        background-color: #0096FF;
        color: #FFFFFF;
        border: 1px solid #0096FF;
    }

    & a:hover:not(.active) {
        background-color: #DDD;
    }
}


// Login Section
.form-login {
    overflow: hidden;
    padding: 60px 0;
    background: #f4fffe;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;

    .auth-provider {
        font-family: system-ui, roboto, sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 40px;
        padding: 0 21px;
        border-radius: 20px;
        cursor: pointer;
        margin-bottom: 16px;
        box-sizing: border-box;
        border: 1px solid #d6d9dc;
        text-align: center;
        background: #FFF;
        color: #535a60
    }

    .google-login {
        color: #535a60;
        border-color: #d6d9dc
    }

    .facebook-login {
        color: #FFF;
        background-color: #395697;
        border-color: transparent
    }


    .form-area {
        position: relative;
        background: #fff;
        width: 100%;
        height: 400px;
        overflow: hidden;
        box-shadow: 0 0 40px 0 #e1e1e1;

        .form-content {
            position: relative;
            width: 50%;
            height: 100%;
            float: left;
            box-sizing: border-box;
            width: 50%;
            padding: 40px 30px;
            border: 2px solid rgb(230, 182, 230);

            h2 {
                color: #fff;
            }

            p {
                color: black;
            }

            a {
                i {
                    margin-right: 10px;
                }
            }
        }

        .form-input {
            position: relative;
            width: 50%;
            height: 100%;
            float: left;
            box-sizing: border-box;
            background-color: white;
            position: relative;
            overflow: hidden;
            box-shadow: 0 0 40px 0 #e1e1e1;
            width: 50%;
            background: #fff;
            padding: 40px 30px;

            h2 {
                margin-bottom: 20px;
                color: #07315B;
            }

            input {
                position: relative;
                height: 60px;
                padding: 20px 0;
                width: 100%;
                box-sizing: border-box;
                outline: none;
                border: none;
                border-bottom: 2px solid #e1e1e1;
                color: #07315B;

                &:focus {
                    ~ {
                        label {
                            top: -5px;
                            opacity: 0;
                            left: 0;
                            color: rgba(103, 58, 183);
                            font-size: 12px;
                            color: #07315B;
                            font-weight: bold;
                        }
                    }

                    border-bottom: 2px solid rgba(103, 58, 183);
                }

                &:valid {
                    ~ {
                        label {
                            top: -5px;
                            opacity: 0;
                            left: 0;
                            color: rgba(103, 58, 183);
                            font-size: 12px;
                            color: #07315B;
                            font-weight: bold;
                        }
                    }

                    border-bottom: 2px solid rgba(103, 58, 183);
                }
            }

            textarea {
                height: 120px;
                padding: 20px 0;
                text-transform: capitalize;
                width: 100%;
                box-sizing: border-box;
                outline: none;
                border: none;
                border-bottom: 2px solid #e1e1e1;
                color: #07315B;

                &:focus {
                    ~ {
                        label {
                            top: -5px;
                            opacity: 0;
                            left: 0;
                            color: rgba(103, 58, 183);
                            font-size: 12px;
                            color: #07315B;
                            font-weight: bold;
                        }
                    }

                    border-bottom: 2px solid rgba(103, 58, 183);
                }

                &:valid {
                    ~ {
                        label {
                            top: -5px;
                            opacity: 0;
                            left: 0;
                            color: rgba(103, 58, 183);
                            font-size: 12px;
                            color: #07315B;
                            font-weight: bold;
                        }
                    }

                    border-bottom: 2px solid rgba(103, 58, 183);
                }
            }

            form {
                .form-group {
                    position: relative;

                    label {
                        position: absolute;
                        text-transform: capitalize;
                        top: 20px;
                        left: 0;
                        pointer-events: none;
                        font-size: 14px;
                        color: #595959;
                        margin-bottom: 0;
                        transition: all .6s;
                    }
                }
            }
        }

        .form-text {
            margin-top: 30px;

            span {
                a {
                    color: rgba(103, 58, 183);
                }
            }
        }

        .myform-button {
            margin-top: 30px;

            .myform-btn {
                width: 100%;
                height: 50px;
                font-size: 17px;
                background: rgba(103, 58, 183);
                border: none;
                border-radius: 50px;
                color: #fff;
                cursor: pointer;
                -webkit-transition: all .5s;
                -o-transition: all .5s;
                transition: all .5s;

                &:hover {
                    background: #07315B;
                }
            }
        }
    }
}

// Register Section
.form-register {
    display: flex;
    height: 100vh;
    justify-content: center;
    /*center vertically */
    align-items: center;
    /* center horizontally */
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    padding: 10px;

    &-container {
        max-width: 700px;
        width: 100%;
        background: #fff;
        padding: 25px 30px;
        border-radius: 5px;
    }

    &-container .title {
        font-size: 25px;
        font-weight: 500;
        position: relative;
    }

    &-container .title::before {
        content: "";
        position: absolute;
        height: 3.5px;
        width: 30px;
        background: linear-gradient(135deg,#71b7e6, #9b59b6);
        left: 0;
        bottom: 0;
    }

    &-container form .user__details {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 20px 0 12px 0;
    }

    /* inside the form user details */
    form .user__details .input__box {
        width: calc(100% / 2 - 20px);
        margin-bottom: 15px;
    }

    .input__box-user {
        width: 100% !important;
    }

    .user__details .input__box .details {
        font-weight: 500;
        margin-bottom: 5px;
        display: block;
    }

    .user__details .input__box input {
        height: 45px;
        width: 100%;
        outline: none;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding-left: 15px;
        font-size: 16px;
        border-bottom-width: 2px;
        transition: all 0.3s ease;
    }

    .user__details .input__box input:focus,
    .user__details .input__box input:valid {
        border-color: #9b59b6;
    }

    /* inside the form gender details */

    form .gender__details .gender__title {
        font-size: 20px;
        font-weight: 500;
    }

    form .gender__details .category {
        display: flex;
        width: 80%;
        margin: 15px 0;
        justify-content: space-between;
    }

    .gender__details .category label {
        display: flex;
        align-items: center;
    }

    .gender__details .category .dot {
        height: 18px;
        width: 18px;
        background: #d9d9d9;
        border-radius: 50%;
        margin: 10px;
        border: 5px solid transparent;
        transition: all 0.3s ease;
    }

    #dot-1:checked~.category .one,
    #dot-2:checked~.category .two,
    #dot-3:checked~.category .three {
        border-color: #d9d9d9;
        background: #9b59b6;
    }

    form input[type="radio"] {
        display: none;
    }

    /* submit button */
    form .button {
        height: 45px;
        margin: 45px 0;
    }

    form .button input {
        height: 100%;
        width: 100%;
        outline: none;
        color: #fff;
        border: none;
        font-size: 18px;
        font-weight: 500;
        border-radius: 5px;
        background: linear-gradient(135deg, #71b7e6, #9b59b6);
        transition: all 0.3s ease;
    }

    form .button input:hover {
        background: linear-gradient(-135deg, #71b7e6, #9b59b6);
    }

    @media only screen and (max-width: 584px) {
        .container {
            max-width: 100%;
        }

        form .user__details .input__box {
            margin-bottom: 15px;
            width: 100%;
        }

        form .gender__details .category {
            width: 100%;
        }

        .container form .user__details {
            max-height: 300px;
            overflow-y: scroll;
        }

        .user__details::-webkit-scrollbar {
            width: 0;
        }
    }
}