<aside id="wainiidev-aside" role="complementary" class="js-fullheight">
    <nav id="wainiidev-main-menu" role="navigation">
        <ul>
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/life">Life</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <div class="wainiidev-footer">
        <h1 id="wainiidev-logo" class="mb-4"><a href="index.html"
                style="background-image: url(<%=process.env.IMAGE_PREFIX%>/bg_1.jpg);">Wainii <span>Blogger</span></a></h1>
        <div class="mb-4">
            <h3>Subscribe for newsletter</h3>
            <form action="#" class="wainiidev-subscribe-form">
                <div class="form-group d-flex">
                    <div class="icon"><span class="icon-paper-plane"></span></div>
                    <input type="text" class="form-control" placeholder="Enter Email Address">
                </div>
            </form>
        </div>
        <p class="pfooter">
            Please send your comments to <a style="color: purple;" href="https://www.facebook.com/tientm98/">me</a> so that we can develop together. Thank you ♥️♥️♥️
        </p>
    </div>
</aside>