<aside id="wainiidev-aside" role="complementary" class="js-fullheight">
    <h1 id="wainiidev-logo" class="mb-4">
        <a href="/" class="logo-text" data-title="Wainii Blogger">
            <img src="<%= process.env.IMAGE_PREFIX %>/logo1.png" alt="">
        </a>
    </h1>
    <nav id="wainiidev-main-menu" role="navigation">
        <ul>
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/life">Life</a></li>
            <li><a href="https://profile.wainiidev.online/">Portfolio</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <div class="wainiidev-footer">
        <div class="mb-4">
            <h3>Subscribe for newsletter</h3>
            <form action="#" class="wainiidev-subscribe-form">
                <div class="form-group d-flex">
                    <div class="icon"><span class="icon-paper-plane-o"></span></div>
                    <input type="text" class="form-control" placeholder="Enter Email Address">
                </div>
            </form>
        </div>
        <p class="pfooter">
            Please send your comments to <a style="color: purple;" href="https://www.facebook.com/tientm98/">me</a> so that we can develop together. Thank you ♥️♥️♥️
        </p>
    </div>
</aside>