<div class="page-add-post">
  <div class="container">
    <h2 class="text-center">ADD NEW POST</h2>
    <div class="row">
      <div class="col-md-12">
        <form method="post" role="form" action="/admin/add-post">
          <div class="form-group mb-3">
            <label for="" class="mb-2">Choose Tag Name</label>
            <select class="form-control" name="tag" id="select-tag" multiple placeholder="Tag Name"
              data-allow-clear="1">
              <% tags.forEach((tag, index)=> { %>
                <option value="<%= tag.name %>">
                  <%= tag.name %>
                </option>
                <% }) %>
            </select>
          </div>
          <div class="form-group mb-3">
            <label class="mb-2"> Title </label>
            <input type="text" class="form-control" name="title" placeholder="Title" required />
          </div>
          <div class="form-group mb-3">
            <label class="mb-2"> Topic ( Optional ) </label>
            <input type="text" class="form-control" name="topic" placeholder="Topic" />
          </div>
          <div class="form-group mb-3">
            <label for="summary" class="mb-2">Summary</label>
            <textarea class="form-control" name="summary" id="summary" rows="3"></textarea>
          </div>
          
          <div class="form-group mb-3">
            <label for="" class="mb-2">Thumbnail</label>
            <div class="preview-image disable">
              <img src="" alt="">
            </div>
            <div id="thumbnail-btn" class="btn btn-primary">Select image...</div>
            <input type="text" id="thumbnail-input" name="thumbnail" value="" />
            <small id="fileHelpId" class="form-text text-muted">image size below 10mb</small>
          </div>

          <div class="form-group mb-3">
            <label class="mb-2">
              Status
            </label>
            <select name="status" id="status" class="form-control">
              <option value="1" selected>Show</option>
              <option value="0">Hide</option>
            </select>
          </div>

          <div class="form-group mb-3">
            <label class="mb-2"> Content </label>
            <textarea class="form-control" id="editor-content" name="content" data-key="<%= process.env.FLMNGR_KEY %>"></textarea>
          </div>
          <div class="form-group">
            <input type="submit" name="Submit" value="Create" class="btn btn-primary form-control" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>