<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../templates/meta')%>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <div class="form-sign form-register">
        <div class="form-sign-container">
            <form class="form" action="/admin/register" method="post">
                <p class="title">Register </p>
                <p class="message">Signup now and get full access to our app. </p>

                <label>
                    <input class="input" type="text" id="username" name="username"  required>
                    <span>Username</span>
                </label> 

                <label>
                    <input class="input" type="email" id="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"  required>
                    <span>Email</span>
                </label> 
                        
                <label>
                    <input class="input" id="phone" name="phone" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"  required>
                    <span>Phone Number</span>
                </label> 

                <label for="">
                    <input type="file" class="form-control-file" id="thumbnail-btn" placeholder="" aria-describedby="fileHelpId" accept=".jpg, .jpeg, .png">
                    <input type="text" id="thumbnail-input" name="avatar" value="" />
                    <span>Thumbnail</span>
                </label>
                    
                <label>
                    <input class="input" id="password" name="password" type="password"  required>
                    <span>Password</span>
                </label>
                <label>
                    <input class="input" id="confirm-password" name="confirm-password" type="password"  required>
                    <span>Confirm password</span>
                </label>
                <button class="submit">Submit</button>
                <p class="signin">Already have an acount ? <a href="/admin/login">Signin</a> </p>
            </form>
        </div>
    </div>

    <%- include('../../templates/block_script')%>
    <script>
        const password = $('#password').val();
        const confirmPassword = $('#confirm-password').val();

        $('#submit').on('submit', (e) => {
            if (password !== confirmPassword) {
                e.preventDefault();
                e.stopPropagation();
                alert('Vui Long nhap lai mat khau chinh xac!!!');
            }
        });
    </script>

</body>

</html>