<!-- Dashboard -->
<div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
    <!-- Vertical Navbar -->
    <%- include('../../components/navbar', { account })%>
        <!-- Main content -->
        <div class="h-screen flex-grow-1 overflow-y-lg-auto">
            <!-- Header -->
                <!-- Main -->
                <main class="py-6 bg-surface-secondary">
                    <div class="container-fluid">
                        <!-- Blog Table -->
                        <%- include('../../components/upload', { listImages }) %>
                    </div>
                </main>
        </div>
</div>
<script src="https://js.upload.io/upload-js/v2"></script>