<div class="main-post">
    <h1 class="title-main">
        <img src="<%= process.env.IMAGE_PREFIX %>/gym.png" alt="">
        <span>Top Post</span>   
    </h1>
    <%- include('../../components/c_list-post') %>
</div>