<div class="main-post">
    <h1 class="mb-4 logo-mobile"><a href="index.html"
        style="background-image: url(<%=process.env.IMAGE_PREFIX%>/fire.jpg);">Wainii <span>Blogger</span></a></h1>
    <h1 class="title-main">
        <img src="<%= process.env.IMAGE_PREFIX %>/gym.png" alt="">
        <span>Top Post</span>   
    </h1>
    <%- include('../../components/c_list-post') %>
</div>