<div class="qr-love-form">
    <h1 class="text-center">Dành tặng những điều tuyệt vời nhất đến với những người yêu thương</h1>
    <form action="/qr-love" method="POST">
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Nhập văn bản bạn muốn hiển thị</label>
            <textarea class="form-control"  id="exampleFormControlTextarea1" name="texts" rows="5"></textarea>
            <p class="note">Ghi chú: Mỗi dòng là 1 lời nhắn</p>
        </div>
        <input type="hidden" name="isPreview" value="true" />
        <div class="form-group">
            <button type="submit" class="btn btn-primary mb-3">Preview</button>
        </div>
    </form>
</div>